<% layout('/layouts/base') %>

<% layout('/layouts/base') %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Update Destination</h2>
          <form action="/api/v1/destinations/<%= destination.id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name <%= destination.name %></label>
              <input value="<%= destination.name %>" type="text" class="form-control" id="name" name="name" required autofocus>
              <div class="invalid-feedback">
                Please choose a name.
              </div>
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input value="<%= destination.location %>" type="text" class="form-control" id="location" name="location" required>
              <div class="invalid-feedback">
                Please enter a valid location
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">description</label>
              <textarea type="text" class="form-control" id="description" name="description" required><%= destination.description %></textarea>
              <div class="invalid-feedback">
                Please enter a valid description
              </div>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Add Image</label>
              <input value="<%= destination.image %>" class="form-control" type="file" name="image" id="image" multiple required />
              <div class="invalid-feedback">
                Please insert image.
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function(form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>